* {
	margin: 0;
	padding: 0;
}

body {
	background-color: lightblue;
}

div#register-form-container, div#login-form-container {
	margin-left: 300px;
	margin-top: 100px;
	border: 2px solid black;
	width: 500px;
	height: 500px;
}