<!DOCTYPE html>
<html lang="en">
	<head>
		<title>{% block title %}Base auth file{% endblock %}</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="css/app.css">
	</head>
	<body>

		<div id="content">
			{% block content %}
				<h1>Base auth file</h1>
			{% endblock %}
		</div>

		<script type="text/javascript" src="js/app.js"></script>
	</body>
</html>