{% extends "auth.base.twig" %}

{% block title %} Login {% endblock %}

{% block content %}

	<p>Login content</p>

	{% include "extra.twig" %}

	<div id="login-form-container">
		<form method="post" action="/login">
			<p>
				<input type="text" name="email">
			</p>
			<p>
				<input type="password" name="password">
			</p>
			<p>
				<input type="submit" value="LOGIN">
			</p>
		</form>
	</div>

{% endblock %}