{% extends "auth.base.twig" %}

{% block title %} Register {% endblock %}

{% block content %}

	<p>Register content</p>

	{% include "extra.twig" %}

	<div id="register-form-container">
		<form method="post" action="/register">
			<p>
				<input type="text" name="name">
			</p>
			<p>
				<input type="text" name="email">
			</p>
			<p>
				<input type="password" name="password">
			</p>
			<p>
				<input type="submit" value="REGISTER">
			</p>
		</form>
	</div>

{% endblock %}