<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Upload files</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body>
		<form method="post" action="/upload" enctype="multipart/form-data">
			<input type="file" name="file" />
			<input type="submit" value="UPLOAD">
		</form>
	</body>
</html>