<!DOCTYPE html>
<html>
	<head>
		<title>Users list</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body>
		<ul>
			{% for user in users %}
				<li><a href="/users/{{ user.id }}" target="_blank">{{ user.name }}</a> - {{ user.email }}</li>
			{% endfor %}
		</ul>
	</body>
</html>