<!DOCTYPE html>
<html>
	<head>
		<title>Users details</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body>
		<h3>{{ user.name }}</h3>
		<h4>{{ user.email }}</h4>
	</body>
</html>